@media (min-width: #{$breakpoint-desktop-small}) {

	.content-area {
		float: left;
		@include side-padding-columns(2);
		margin: 48px (-$size__site-sidebar) 0 0;
		width: $size__site-main;
	}

	.site-main {
		margin: 0 $size__site-sidebar 0 0;
	}

	.site-content .widget-area {
		float: right;
		overflow: hidden;
		width: $size__site-sidebar;
		@include side-padding-columns(1);
		column-count: 1;
		column-gap: 0;
		background-color: $color__background-variant;
	}

	.site-footer {
		clear: both;
		width: $size__site-main;
	}

}

@import "no-sidebar";
