button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 0px;
	background: $color__primary;
	color: white;
	@include font-size(1);
	line-height: 1;
	padding: .6em 1em;
	cursor: pointer;
}
