input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	@include font-size(1.125);
	border: 1px solid $color__border-input;
	border-radius: 0px;
	padding: 4px 12px;

	&:focus {
		color: $color__text-input-focus;
		border-color: $color__border-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;

	&:focus {
		border-color: $color__border-input-focus;
	}
}

textarea {
	width: 100%;
}

label {
	color: $color__text-input-focus;
	@include font-size(1.125);
	padding-left: 12px;
}
