@charset "UTF-8";
/*!
Theme Name: Tainá
Theme URI: http://underscores.me/
Author: Mateus Wetah
Author URI: https://github.com/mateuswetah/
Description: A modern theme for your digital expositions that works with Tainacan.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: taina
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Tainá is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: 800;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #4f4f4f;
	font-family: "Muli", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

.icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: inherit;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "Montserrat", sans-serif;
	line-height: normal;
}

h1 {
	font-size: 35.008px;
	font-size: 2.188rem;
	font-weight: 700;
}

@media (min-width: 768px) {
	h1 {
		font-size: 45.008px;
		font-size: 2.813rem;
	}
}

@media (min-width: 1024px) {
	h1 {
		font-size: 50px;
		font-size: 3.125rem;
	}
}

h2 {
	font-size: 35.008px;
	font-size: 2.188rem;
	font-weight: 700;
}

h3 {
	font-size: 25.008px;
	font-size: 1.563rem;
	font-weight: 700;
}

h4 {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
}

h5 {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 600;
}

h5 {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 600;
}

p {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 18px;
	font-size: 1.125rem;
}

abbr, acronym {
	border-bottom: 1px dotted #262626;
	cursor: help;
}

mark, ins {
	background: #fcebd9;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: white;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #4f4f4f;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 2em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

article {
	padding-left: 4.16667%;
	padding-right: 4.16667%;
	padding-left: 4.16667vw;
	padding-right: 4.16667vw;
	background-color: white;
	overflow-x: hidden;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 0px;
	background: #a0303a;
	color: white;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1;
	padding: .6em 1em;
	cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #4f4f4f;
	font-size: 18px;
	font-size: 1.125rem;
	border: 1px solid #f2f2f2;
	border-radius: 0px;
	padding: 4px 12px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #262626;
	border-color: #4f4f4f;
}

select {
	border: 1px solid #f2f2f2;
}

select:focus {
	border-color: #4f4f4f;
}

textarea {
	width: 100%;
}

label {
	color: #262626;
	font-size: 18px;
	font-size: 1.125rem;
	padding-left: 12px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	text-decoration: none;
	color: #a0303a;
}

a:hover, a:focus, a:active {
	color: #a0303a;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	margin: auto 0 auto auto;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul.menu > .menu-item {
	padding: 4px 13px 4px 0px;
	margin: 8px;
	border-bottom: 4px solid transparent;
}

.main-navigation ul.menu > .menu-item:hover {
	padding-right: 10px;
}

.main-navigation ul.menu > .menu-item:hover a {
	font-weight: 800;
}

.main-navigation ul.menu > .menu-item.current_page_item {
	padding-right: 10px;
	border-bottom-color: #a0303a;
}

.main-navigation ul.menu > .menu-item.current_page_item a {
	color: #a0303a;
	font-weight: 800;
}

.main-navigation ul.menu > .menu-item a {
	font-size: 15.008px;
	font-size: 0.938rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #4f4f4f;
}

.main-navigation ul ul {
	float: left;
	position: absolute;
	top: calc(100% + 4px);
	left: -999em;
	z-index: 99999;
	background-color: #f2f2f2;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li {
	padding: 12px;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle {
	background-color: transparent;
	color: #a0303a;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 1024px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #4f4f4f;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 2rem 0;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	/* Make sure select elements fit in widgets. */
}

.widget:first-of-type {
	margin-top: 0;
}

.widget select {
	max-width: 100%;
}

.widget h2.widget-title {
	font-size: 21.6px;
	font-size: 1.35rem;
	margin: 0 0 0.75rem 0;
}

.widget ul {
	margin-left: 0rem;
	padding-left: 0rem;
	list-style: none;
}

.widget ul li {
	margin-bottom: 0.5rem;
}

.widget.widget_search form.search-form .search-wrap {
	display: flex;
	position: relative;
}

.widget.widget_search form.search-form .search-wrap input.search-field {
	width: 100%;
	padding-right: 2rem;
}

.widget.widget_search form.search-form .search-wrap .search-submit {
	position: absolute;
	right: 0;
	font-size: 1.25rem;
	padding: 0.35rem 0.45rem;
	background: transparent;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@media (min-width: 1024px) {
	.content-area {
		float: left;
		padding-left: 8.33333%;
		padding-right: 8.33333%;
		padding-left: 8.33333vw;
		padding-right: 8.33333vw;
		margin: 48px -25vw 0 0;
		width: 100%;
	}
	.site-main {
		margin: 0 25vw 0 0;
	}
	.site-content .widget-area {
		float: right;
		overflow: hidden;
		width: 25vw;
		padding-left: 4.16667%;
		padding-right: 4.16667%;
		padding-left: 4.16667vw;
		padding-right: 4.16667vw;
		column-count: 1;
		column-gap: 0;
		background-color: #f2f2f2;
	}
	.site-footer {
		clear: both;
		width: 100%;
	}
}

.no-sidebar .content-area {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 48px;
}

.no-sidebar .site-main {
	margin-right: 0;
}

/*--------------------------------------------------------------
## Site Header
--------------------------------------------------------------*/
.site-header {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 4.16667%;
	padding-right: 4.16667%;
	padding-left: 4.16667vw;
	padding-right: 4.16667vw;
	background-color: white;
}

.site-header .site-branding {
	display: block;
	margin: auto 6.25% auto 0;
	margin: auto 6.25vw auto 0;
}

.site-header .site-branding img {
	max-height: 124px;
	width: auto;
}

.site-header .site-branding .site-title {
	font-size: 32px;
	font-size: 2rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-style: italic;
	margin: 0;
}

.site-header .site-branding .site-title a {
	color: #a0303a;
}

.site-header .site-branding .site-description {
	font-weight: 500;
	margin: 10px 0;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 auto 1.5em;
}

.updated:not(.published) {
	display: none;
}

.post-thumbnail {
	text-align: center;
}

@media (min-width: 1024px) {
	.entry-header {
		padding-left: 8.33333%;
		padding-right: 8.33333%;
		padding-left: 8.33333vw;
		padding-right: 8.33333vw;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}
}

.entry-header .entry-title {
	text-align: center;
	background: linear-gradient(to right, #f2f2f2 6px, transparent 6px) 0 100%, linear-gradient(to top, #f2f2f2 6px, transparent 6px) 0 100%;
	background-repeat: no-repeat;
	background-size: 192px 48px;
	padding: 2rem 1rem;
	margin-bottom: 0.25rem;
}

.entry-meta {
	display: inline-flex;
}

.entry-meta .posted-on,
.entry-meta .byline {
	padding: 0.5rem 1rem;
	color: #a0303a;
}

.entry-meta .posted-on a,
.entry-meta .byline a {
	color: #a0303a;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em auto 0;
	padding-left: 4.16667%;
	padding-right: 4.16667%;
	padding-left: 4.16667vw;
	padding-right: 4.16667vw;
}

@media (min-width: 768px) {
	.page-content,
	.entry-content,
	.entry-summary {
		max-width: calc(750px + (2 * 4.16667%));
		max-width: calc(750px + (2 * 4.16667vw));
	}
}

@media (min-width: 1024px) {
	.page-content,
	.entry-content,
	.entry-summary {
		padding-left: 8.33333%;
		padding-right: 8.33333%;
		padding-left: 8.33333vw;
		padding-right: 8.33333vw;
		max-width: calc(750px + (3 * 4.16667%));
		max-width: calc(750px + (3 * 4.16667vw));
	}
}

.page-content .alignwide,
.entry-content .alignwide,
.entry-summary .alignwide {
	width: 108.33333%;
	width: calc(100% + 4.16667vw * 2);
	max-width: 108.33333%;
	max-width: calc(100% + 4.16667vw * 2);
	margin-left: -4.16667%;
	margin-left: -4.16667vw;
	margin-right: -4.16667%;
	margin-right: -4.16667vw;
}

.page-content .alignfull,
.entry-content .alignfull,
.entry-summary .alignfull {
	width: 100%;
	width: 100vw;
	max-width: 100%;
	max-width: 100vw;
	margin-left: calc( -100vw / 2 + 100% / 2);
	margin-right: calc( -100vw / 2 + 100% / 2);
}

.page-content h2,
.page-content h3,
.page-content h4,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4 {
	color: #a0303a;
}

.page-content h2,
.page-content h3,
.entry-content h2,
.entry-content h3,
.entry-summary h2,
.entry-summary h3 {
	margin-left: -4.16667%;
	margin-left: -4.16667vw;
	margin-right: 4.16667%;
	margin-right: 4.16667vw;
}

@media (min-width: 1024px) {
	.page-content h2,
	.page-content h3,
	.entry-content h2,
	.entry-content h3,
	.entry-summary h2,
	.entry-summary h3 {
		margin-left: calc((-1 * 4.16667%) - 15px);
		margin-left: calc((-1 * 4.16667vw) - 15px);
		margin-right: calc(4.16667% + 15px);
		margin-right: calc(4.16667vw + 15px);
	}
}

.page-content h2,
.entry-content h2,
.entry-summary h2 {
	background: linear-gradient(to right, #4f4f4f 4px, transparent 4px) 0 100%, linear-gradient(to top, #4f4f4f 4px, transparent 4px) 0 100%;
	background-repeat: no-repeat;
	background-size: 30px 15px;
	padding: 10px 15px;
}

.page-content h3,
.entry-content h3,
.entry-summary h3 {
	background: linear-gradient(to right, #4f4f4f 2px, transparent 2px) 0 100%, linear-gradient(to top, #4f4f4f 2px, transparent 2px) 0 100%;
	background-repeat: no-repeat;
	background-size: 30px 15px;
	padding: 7px 15px;
}

.page-content h4,
.entry-content h4,
.entry-summary h4 {
	background: linear-gradient(to right, #4f4f4f 2px, transparent 2px) 0 100%, linear-gradient(to top, #4f4f4f 2px, transparent 2px) 0 100%;
	background-repeat: no-repeat;
	background-size: 30px 15px;
	padding: 6px 15px;
	margin-left: -15px;
	margin-right: 15px;
}

.page-content p,
.entry-content p,
.entry-summary p {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
	font-size: 20px;
	font-size: 1.25rem;
}

.page-content .wp-block-verse,
.entry-content .wp-block-verse,
.entry-summary .wp-block-verse {
	padding-left: 0;
	padding-right: 0;
	margin-right: 4.16667%;
	margin-right: 4.16667vw;
	margin-left: -4.16667%;
	margin-left: -4.16667vw;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: normal;
	color: #4f4f4f;
}

.page-content .wp-block-quote,
.entry-content .wp-block-quote,
.entry-summary .wp-block-quote {
	padding: 3.5rem !important;
	border: none !important;
}

.page-content .wp-block-quote:before, .page-content .wp-block-quote:after,
.entry-content .wp-block-quote:before,
.entry-content .wp-block-quote:after,
.entry-summary .wp-block-quote:before,
.entry-summary .wp-block-quote:after {
	display: block;
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-size: 272px;
	font-size: 17rem;
	font-style: italic;
	font-weight: 900;
	line-height: 1rem;
	color: white;
}

.page-content .wp-block-quote:before,
.entry-content .wp-block-quote:before,
.entry-summary .wp-block-quote:before {
	content: "\201C";
	top: 80px;
	top: 5rem;
	left: -80px;
	margin-left: -40px;
	margin-right: -2.5rem;
	text-shadow: -1px -1px 0 #a0303a, 1px -1px 0 #a0303a, -1px 1px 0 #a0303a, 1px 1px 0 #a0303a;
}

.page-content .wp-block-quote:after,
.entry-content .wp-block-quote:after,
.entry-summary .wp-block-quote:after {
	content: "\201D";
	bottom: calc(50% - 96px);
	bottom: calc(50% - 6rem);
	right: -190px;
	margin-right: 80px;
	margin-right: 5rem;
	text-align: right;
	text-shadow: -1px -1px 0 #f2f2f2, 1px -1px 0 #f2f2f2, -1px 1px 0 #f2f2f2, 1px 1px 0 #f2f2f2;
}

@media (min-width: 384px) {
	.page-content .wp-block-quote:before,
	.entry-content .wp-block-quote:before,
	.entry-summary .wp-block-quote:before {
		left: -130px;
	}
	.page-content .wp-block-quote:after,
	.entry-content .wp-block-quote:after,
	.entry-summary .wp-block-quote:after {
		right: -220px;
	}
}

@media (min-width: 768px) {
	.page-content .wp-block-quote:before,
	.entry-content .wp-block-quote:before,
	.entry-summary .wp-block-quote:before {
		left: -160px;
	}
	.page-content .wp-block-quote:after,
	.entry-content .wp-block-quote:after,
	.entry-summary .wp-block-quote:after {
		right: -240px;
	}
}

@media (min-width: 1024px) {
	.page-content .wp-block-quote:before,
	.entry-content .wp-block-quote:before,
	.entry-summary .wp-block-quote:before {
		left: -180px;
	}
	.page-content .wp-block-quote:after,
	.entry-content .wp-block-quote:after,
	.entry-summary .wp-block-quote:after {
		right: -250px;
	}
}

.page-content .wp-block-quote p,
.entry-content .wp-block-quote p,
.entry-summary .wp-block-quote p {
	margin-top: 0rem;
	margin-bottom: 1.75rem;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 600;
	text-align: center;
	color: #4f4f4f;
}

.page-content .wp-block-quote cite,
.entry-content .wp-block-quote cite,
.entry-summary .wp-block-quote cite {
	display: block;
	font-style: italic;
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: 600;
	text-align: center;
	color: #a0303a;
}

.page-content .wp-block-pullquote,
.entry-content .wp-block-pullquote,
.entry-summary .wp-block-pullquote {
	border: none;
	background: linear-gradient(to right, #a0303a 2px, transparent 2px) 0 100%, linear-gradient(to top, #a0303a 2px, transparent 2px) 0 100%, linear-gradient(to left, #a0303a 2px, transparent 2px) 0 100%, linear-gradient(to right, #a0303a 2px, transparent 2px) 100% 0, linear-gradient(to bottom, #a0303a 2px, transparent 2px) 100% 0, linear-gradient(to left, #a0303a 2px, transparent 2px) 100% 0;
	background-repeat: no-repeat;
	background-size: 100% 30px;
	padding: 3.13rem;
	margin: 3rem 0 3.13rem;
}

@media (min-width: 768px) {
	.page-content .wp-block-pullquote,
	.entry-content .wp-block-pullquote,
	.entry-summary .wp-block-pullquote {
		margin-left: 12.5%;
		margin-right: 12.5%;
	}
}

.page-content .wp-block-pullquote blockquote p,
.entry-content .wp-block-pullquote blockquote p,
.entry-summary .wp-block-pullquote blockquote p {
	margin-top: 0rem;
	margin-bottom: 1.75rem;
	font-size: 25.008px;
	font-size: 1.563rem;
	font-weight: 700;
	color: #a0303a;
}

.page-content .wp-block-pullquote blockquote cite,
.entry-content .wp-block-pullquote blockquote cite,
.entry-summary .wp-block-pullquote blockquote cite {
	font-style: italic;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 600;
	text-transform: none;
	color: #4f4f4f;
}

.page-content .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.page-content button,
.entry-content .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.entry-content button,
.entry-summary .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.entry-summary button {
	background-color: #a0303a;
	font-weight: 800;
	padding: 12px 32px;
	color: white;
}

.page-content .wp-block-button.is-style-outline .wp-block-button__link,
.entry-content .wp-block-button.is-style-outline .wp-block-button__link,
.entry-summary .wp-block-button.is-style-outline .wp-block-button__link {
	border-color: #a0303a;
	padding: 12px 32px;
	color: #a0303a;
	font-weight: 800;
}

.page-content .wp-block-table th,
.entry-content .wp-block-table th,
.entry-summary .wp-block-table th {
	background: #f2f2f2;
	font-weight: 700;
	font-style: italic;
	border-bottom: 1px solid #a0303a;
}

.page-content .wp-block-table td,
.entry-content .wp-block-table td,
.entry-summary .wp-block-table td {
	padding: 0.5rem 1.125rem;
	font-size: 20px;
	font-size: 1.25rem;
	border-color: #f2f2f2;
}

.page-content ul:not([class]),
.page-content ol:not([class]),
.entry-content ul:not([class]),
.entry-content ol:not([class]),
.entry-summary ul:not([class]),
.entry-summary ol:not([class]) {
	list-style: none;
}

.page-content ul:not([class]) li,
.page-content ol:not([class]) li,
.entry-content ul:not([class]) li,
.entry-content ol:not([class]) li,
.entry-summary ul:not([class]) li,
.entry-summary ol:not([class]) li {
	margin-bottom: 0.5rem;
}

.page-content ul:not([class]) li:before,
.page-content ol:not([class]) li:before,
.entry-content ul:not([class]) li:before,
.entry-content ol:not([class]) li:before,
.entry-summary ul:not([class]) li:before,
.entry-summary ol:not([class]) li:before {
	color: #a0303a;
}

.page-content ul:not([class]) li ul > li:before,
.page-content ol:not([class]) li ul > li:before,
.entry-content ul:not([class]) li ul > li:before,
.entry-content ol:not([class]) li ul > li:before,
.entry-summary ul:not([class]) li ul > li:before,
.entry-summary ol:not([class]) li ul > li:before {
	color: #4f4f4f;
}

.page-content ul:not([class]) li ul > li ul > li:before,
.page-content ul:not([class]) li ol > li ul > li:before,
.page-content ol:not([class]) li ul > li ul > li:before,
.page-content ol:not([class]) li ol > li ul > li:before,
.entry-content ul:not([class]) li ul > li ul > li:before,
.entry-content ul:not([class]) li ol > li ul > li:before,
.entry-content ol:not([class]) li ul > li ul > li:before,
.entry-content ol:not([class]) li ol > li ul > li:before,
.entry-summary ul:not([class]) li ul > li ul > li:before,
.entry-summary ul:not([class]) li ol > li ul > li:before,
.entry-summary ol:not([class]) li ul > li ul > li:before,
.entry-summary ol:not([class]) li ol > li ul > li:before {
	color: #a0303a;
}

.page-content ul:not([class]) li ul > li ul > li ul > li:before,
.page-content ul:not([class]) li ol > li ol > li ul > li:before,
.page-content ul:not([class]) li ol > li ul > li ul > li:before,
.page-content ul:not([class]) li ul > li ol > li ul > li:before,
.page-content ol:not([class]) li ul > li ul > li ul > li:before,
.page-content ol:not([class]) li ol > li ol > li ul > li:before,
.page-content ol:not([class]) li ol > li ul > li ul > li:before,
.page-content ol:not([class]) li ul > li ol > li ul > li:before,
.entry-content ul:not([class]) li ul > li ul > li ul > li:before,
.entry-content ul:not([class]) li ol > li ol > li ul > li:before,
.entry-content ul:not([class]) li ol > li ul > li ul > li:before,
.entry-content ul:not([class]) li ul > li ol > li ul > li:before,
.entry-content ol:not([class]) li ul > li ul > li ul > li:before,
.entry-content ol:not([class]) li ol > li ol > li ul > li:before,
.entry-content ol:not([class]) li ol > li ul > li ul > li:before,
.entry-content ol:not([class]) li ul > li ol > li ul > li:before,
.entry-summary ul:not([class]) li ul > li ul > li ul > li:before,
.entry-summary ul:not([class]) li ol > li ol > li ul > li:before,
.entry-summary ul:not([class]) li ol > li ul > li ul > li:before,
.entry-summary ul:not([class]) li ul > li ol > li ul > li:before,
.entry-summary ol:not([class]) li ul > li ul > li ul > li:before,
.entry-summary ol:not([class]) li ol > li ol > li ul > li:before,
.entry-summary ol:not([class]) li ol > li ul > li ul > li:before,
.entry-summary ol:not([class]) li ul > li ol > li ul > li:before {
	color: #4f4f4f;
}

.page-content ul:not([class]) li:before,
.entry-content ul:not([class]) li:before,
.entry-summary ul:not([class]) li:before {
	content: "\25A0";
	position: relative;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	top: -0.05rem;
	left: -0.1rem;
}

.page-content ul:not([class]) li ul li ul li:before,
.entry-content ul:not([class]) li ul li ul li:before,
.entry-summary ul:not([class]) li ul li ul li:before {
	content: "\25A1";
}

.page-content ol:not([class]) > li,
.entry-content ol:not([class]) > li,
.entry-summary ol:not([class]) > li {
	counter-increment: list1;
}

.page-content ol:not([class]) > li:before,
.entry-content ol:not([class]) > li:before,
.entry-summary ol:not([class]) > li:before {
	display: inline-block;
}

.page-content ol:not([class]) > li:before,
.entry-content ol:not([class]) > li:before,
.entry-summary ol:not([class]) > li:before {
	content: counter(list1) ".";
	width: 1em;
	margin-left: -1em;
	font-weight: 700;
}

.page-content ol:not([class]) > li ol > li,
.entry-content ol:not([class]) > li ol > li,
.entry-summary ol:not([class]) > li ol > li {
	counter-increment: list2;
}

.page-content ol:not([class]) > li ol > li:before,
.entry-content ol:not([class]) > li ol > li:before,
.entry-summary ol:not([class]) > li ol > li:before {
	content: counter(list1) "." counter(list2) ".";
	width: 1.75em;
	margin-left: -1.75em;
	font-weight: 700;
}

.page-content ol:not([class]) > li ol > li ol > li,
.entry-content ol:not([class]) > li ol > li ol > li,
.entry-summary ol:not([class]) > li ol > li ol > li {
	counter-increment: list3;
}

.page-content ol:not([class]) > li ol > li ol > li:before,
.entry-content ol:not([class]) > li ol > li ol > li:before,
.entry-summary ol:not([class]) > li ol > li ol > li:before {
	content: counter(list1) "." counter(list2) "." counter(list3) ".";
	width: 2.6em;
	margin-left: -2.6em;
	font-weight: 400;
}

.page-content ol:not([class]) > li ol > li ol > li ol > li,
.entry-content ol:not([class]) > li ol > li ol > li ol > li,
.entry-summary ol:not([class]) > li ol > li ol > li ol > li {
	counter-increment: list4;
}

.page-content ol:not([class]) > li ol > li ol > li ol > li:before,
.entry-content ol:not([class]) > li ol > li ol > li ol > li:before,
.entry-summary ol:not([class]) > li ol > li ol > li ol > li:before {
	content: counter(list1) "." counter(list2) "." counter(list3) "." counter(list4) ".";
	width: 3.4em;
	margin-left: -3.4em;
	font-weight: 400;
}

.page-content li:not([class]) > ul,
.page-content li:not([class]) > ol,
.entry-content li:not([class]) > ul,
.entry-content li:not([class]) > ol,
.entry-summary li:not([class]) > ul,
.entry-summary li:not([class]) > ol {
	margin-left: 1.125rem;
}

.page-content ul,
.page-content ol,
.entry-content ul,
.entry-content ol,
.entry-summary ul,
.entry-summary ol {
	margin-left: 4.16667%;
	margin-left: 4.16667vw;
	font-size: 20px;
	font-size: 1.25rem;
}

.page-content .wp-block-image,
.entry-content .wp-block-image,
.entry-summary .wp-block-image {
	margin-top: 2.75rem;
	margin-bottom: 3.25rem;
	text-align: right;
}

.page-content .wp-block-image figcaption,
.entry-content .wp-block-image figcaption,
.entry-summary .wp-block-image figcaption {
	display: inline-block;
	margin-top: -6px;
	margin-bottom: 0;
	padding: 0.875rem 1.5rem;
	background-color: #f2f2f2;
	color: #4f4f4f;
	font-size: 1rem;
}

.page-content .wp-block-image.alignfull figcaption,
.entry-content .wp-block-image.alignfull figcaption,
.entry-summary .wp-block-image.alignfull figcaption {
	margin-right: calc( -100vw / 2 + 100% / 2);
}

.entry-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
	font-size: 1.25rem;
	font-weight: bolder;
	margin-bottom: 12px;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a {
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f2f2f2;
	padding: 6px 12px;
	margin: 0 2px;
}

.edit-link,
.comments-link {
	min-height: 50px;
	min-width: 50px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #a0303a;
	color: white;
}

.edit-link i,
.edit-link:hover i,
.edit-link:focus i,
.edit-link:active i,
.edit-link:visited i,
.comments-link i,
.comments-link:hover i,
.comments-link:focus i,
.comments-link:active i,
.comments-link:visited i {
	color: white;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	background-color: #f2f2f2;
	padding-left: 8.33333%;
	padding-right: 8.33333%;
	padding-left: 8.33333vw;
	padding-right: 8.33333vw;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-top: 48px;
}

.comments-area .comments-title {
	font-size: 1.75rem;
}

.comments-area .comment-list,
.comments-area .comment-form {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comments-area .comment-list .comment .comment-body,
.comments-area .comment-form .comment .comment-body {
	background-color: transparent;
}

.comments-area .comment-list .comment .comment-body .comment-meta .comment-author img.avatar,
.comments-area .comment-form .comment .comment-body .comment-meta .comment-author img.avatar {
	background-color: white;
	float: left;
	position: relative;
	height: auto;
	width: 120px;
	border-bottom: 4px solid #a0303a;
	margin: 0 32px 10px 0;
}

.comments-area .comment-list .comment .comment-body .comment-meta .comment-author .comment-metadata,
.comments-area .comment-form .comment .comment-body .comment-meta .comment-author .comment-metadata {
	background-color: white;
	display: inline-block;
	max-width: calc(100% - 152px);
	padding: 8px 16px 8px 32px;
	margin-left: -32px;
}

.comments-area .comment-list .comment .comment-body .comment-meta .comment-author .edit-link,
.comments-area .comment-form .comment .comment-body .comment-meta .comment-author .edit-link {
	float: right;
	padding: 0 6px;
}

.comments-area .comment-list .comment .comment-body .comment-content h2,
.comments-area .comment-form .comment .comment-body .comment-content h2 {
	font-size: 24px;
	font-size: 1.5rem;
}

.comments-area .comment-list .comment .comment-body .comment-content p,
.comments-area .comment-form .comment .comment-body .comment-content p {
	font-size: 20px;
	font-size: 1.25rem;
}

.comments-area .comment-list .comment .comment-body .reply,
.comments-area .comment-form .comment .comment-body .reply {
	margin-bottom: 48px;
}

.comments-area .comment-list .comment .comment-body .comment-textarea,
.comments-area .comment-form .comment .comment-body .comment-textarea {
	margin-top: 32px;
	margin-bottom: 32px;
	width: calc(100% - 152px);
}

.comments-area .comment-list .form-submit,
.comments-area .comment-form .form-submit {
	margin-top: 0;
	text-align: right;
}

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
.widget-area {
	padding-left: 8.33333%;
	padding-right: 8.33333%;
	padding-left: 8.33333vw;
	padding-right: 8.33333vw;
	padding-top: 32px;
	padding-bottom: 32px;
	margin-top: 48px;
}

@media (min-width: 768px) {
	.widget-area {
		column-count: 2;
		column-gap: 4.16667%;
		column-gap: 4.16667vw;
	}
}

@media (min-width: 1024px) {
	.widget-area {
		column-count: 3;
		column-gap: 4.16667%;
		column-gap: 4.16667vw;
	}
}

/*--------------------------------------------------------------
## Blog post list
--------------------------------------------------------------*/
.blog .post {
	margin: 0 auto 3rem;
	position: relative;
	overflow: visible;
	padding: 0;
	border-bottom: 4px solid #a0303a;
	background-color: #f2f2f2;
}

@media (min-width: 768px) {
	.blog .post {
		max-width: calc(750px + (1 * 4.16667%));
		max-width: calc(750px + (1 * 4.16667vw));
	}
}

@media (min-width: 1024px) {
	.blog .post {
		max-width: calc(750px + (2 * 4.16667%));
		max-width: calc(750px + (2 * 4.16667vw));
	}
}

.blog .post .edit-link {
	position: absolute;
	right: -22px;
	border-bottom: 5px solid white;
	border-left: 5px solid white;
}

.blog .post .entry-header {
	padding-left: 4.16667%;
	padding-right: 4.16667%;
	padding-left: 4.16667vw;
	padding-right: 4.16667vw;
	padding-top: 1rem;
}

.blog .post .entry-header .entry-title {
	padding: 0;
	font-weight: 600;
	background: none;
}

.blog .post .page-content,
.blog .post .entry-content,
.blog .post .entry-summary {
	padding-left: 4.16667%;
	padding-right: 4.16667%;
	padding-left: 4.16667vw;
	padding-right: 4.16667vw;
	padding-top: 0.5rem;
	margin: 0;
}

.blog .post .entry-footer {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
	padding-top: 0.5rem;
}

.blog .post .entry-footer > div,
.blog .post .entry-footer > span {
	height: 45px;
}

.blog .post .entry-footer .entry-meta .posted-on,
.blog .post .entry-footer .entry-meta .byline {
	padding: calc(0.5rem + 4px) 1rem 0.5rem 1rem;
}

.blog .post .entry-footer .comments-link {
	padding: calc(0.5rem + 4px) 1rem 0.5rem 1rem;
}

/*--------------------------------------------------------------
## Site Footer
--------------------------------------------------------------*/
.site-footer .footer-social-links {
	padding-left: 8.33333%;
	padding-right: 8.33333%;
	padding-left: 8.33333vw;
	padding-right: 8.33333vw;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #a0303a;
}

.site-footer .widget-area {
	padding-left: 16.66667%;
	padding-right: 16.66667%;
	padding-left: 16.66667vw;
	padding-right: 16.66667vw;
	background-color: white;
}

.site-footer .widget-area .widget h2.widget-title {
	font-weight: 500;
	font-size: 21.6px;
	font-size: 1.35rem;
	margin: 0 0 0.75rem 0;
}

.site-footer .widget-area .widget ul:not([class]),
.site-footer .widget-area .widget ol:not([class]) {
	list-style: none;
}

.site-footer .widget-area .widget ul:not([class]) li,
.site-footer .widget-area .widget ol:not([class]) li {
	margin-bottom: 0.5rem;
}

.site-footer .widget-area .widget ul:not([class]) li:before,
.site-footer .widget-area .widget ol:not([class]) li:before {
	color: #a0303a;
}

.site-footer .widget-area .widget ul:not([class]) li ul > li:before,
.site-footer .widget-area .widget ol:not([class]) li ul > li:before {
	color: #4f4f4f;
}

.site-footer .widget-area .widget ul:not([class]) li ul > li ul > li:before,
.site-footer .widget-area .widget ul:not([class]) li ol > li ul > li:before,
.site-footer .widget-area .widget ol:not([class]) li ul > li ul > li:before,
.site-footer .widget-area .widget ol:not([class]) li ol > li ul > li:before {
	color: #a0303a;
}

.site-footer .widget-area .widget ul:not([class]) li ul > li ul > li ul > li:before,
.site-footer .widget-area .widget ul:not([class]) li ol > li ol > li ul > li:before,
.site-footer .widget-area .widget ul:not([class]) li ol > li ul > li ul > li:before,
.site-footer .widget-area .widget ul:not([class]) li ul > li ol > li ul > li:before,
.site-footer .widget-area .widget ol:not([class]) li ul > li ul > li ul > li:before,
.site-footer .widget-area .widget ol:not([class]) li ol > li ol > li ul > li:before,
.site-footer .widget-area .widget ol:not([class]) li ol > li ul > li ul > li:before,
.site-footer .widget-area .widget ol:not([class]) li ul > li ol > li ul > li:before {
	color: #4f4f4f;
}

.site-footer .widget-area .widget ul:not([class]) li:before {
	content: "\25A0";
	position: relative;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	top: -0.05rem;
	left: -0.1rem;
}

.site-footer .widget-area .widget ul:not([class]) li ul li ul li:before {
	content: "\25A1";
}

.site-footer .widget-area .widget ol:not([class]) > li {
	counter-increment: list1;
}

.site-footer .widget-area .widget ol:not([class]) > li:before {
	display: inline-block;
}

.site-footer .widget-area .widget ol:not([class]) > li:before {
	content: counter(list1) ".";
	width: 1em;
	margin-left: -1em;
	font-weight: 700;
}

.site-footer .widget-area .widget ol:not([class]) > li ol > li {
	counter-increment: list2;
}

.site-footer .widget-area .widget ol:not([class]) > li ol > li:before {
	content: counter(list1) "." counter(list2) ".";
	width: 1.75em;
	margin-left: -1.75em;
	font-weight: 700;
}

.site-footer .widget-area .widget ol:not([class]) > li ol > li ol > li {
	counter-increment: list3;
}

.site-footer .widget-area .widget ol:not([class]) > li ol > li ol > li:before {
	content: counter(list1) "." counter(list2) "." counter(list3) ".";
	width: 2.6em;
	margin-left: -2.6em;
	font-weight: 400;
}

.site-footer .widget-area .widget ol:not([class]) > li ol > li ol > li ol > li {
	counter-increment: list4;
}

.site-footer .widget-area .widget ol:not([class]) > li ol > li ol > li ol > li:before {
	content: counter(list1) "." counter(list2) "." counter(list3) "." counter(list4) ".";
	width: 3.4em;
	margin-left: -3.4em;
	font-weight: 400;
}

.site-footer .widget-area .widget li:not([class]) > ul,
.site-footer .widget-area .widget li:not([class]) > ol {
	margin-left: 1.125rem;
}

.site-footer .widget-area .widget ul,
.site-footer .widget-area .widget ol {
	margin-left: 1em;
	font-size: 18px;
	font-size: 1.125rem;
}

.site-footer .site-info {
	padding-left: 8.33333%;
	padding-right: 8.33333%;
	padding-left: 8.33333vw;
	padding-right: 8.33333vw;
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #f2f2f2;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 95.83333%;
}

.gallery-columns-3 .gallery-item {
	max-width: 91.66667%;
}

.gallery-columns-4 .gallery-item {
	max-width: 87.5%;
}

.gallery-columns-5 .gallery-item {
	max-width: 83.33333%;
}

.gallery-columns-6 .gallery-item {
	max-width: 79.16667%;
}

.gallery-columns-7 .gallery-item {
	max-width: 75%;
}

.gallery-columns-8 .gallery-item {
	max-width: 70.83333%;
}

.gallery-columns-9 .gallery-item {
	max-width: 66.66667%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.no-sidebar .content-area {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 48px;
}

.no-sidebar .site-main {
	margin-right: 0;
}
