h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__heading;
	line-height: normal;
}
h1 {
	@include font-size(2.188);
	font-weight: $font__weight-bold;

	@media (min-width: #{$breakpoint-mobile-medium}) {
		@include font-size(2.813);
	}
	@media (min-width: #{$breakpoint-desktop-small}) {
		@include font-size(3.125);
	}
}
h2 {
	@include font-size(2.188);
	font-weight: $font__weight-bold;
}
h3 {
	@include font-size(1.563);
	font-weight: $font__weight-bold;
}
h4 {
	@include font-size(1.25);
	font-weight: $font__weight-bold;
}
h5 {
	@include font-size(1.25);
	font-weight: $font__weight-semi-bold;
}
h5 {
	@include font-size(1.125);
	font-weight: $font__weight-semi-bold;
}

