body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-default;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

.icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: inherit;
}

@import "headings";

@import "copy";
