.widget-area {
    @include side-padding-columns(2);
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 48px;

    @media (min-width: #{$breakpoint-mobile-medium}) {
        column-count: 2;
        column-gap: $columns__single;
        column-gap: $columns__single-vw;
    }

    @media (min-width: #{$breakpoint-desktop-small}) {
        column-count: 3;
        column-gap: $columns__single;
        column-gap: $columns__single-vw;
    }
}