.widget {
    margin: 2rem 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    &:first-of-type {
        margin-top: 0;
    }
    
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	h2.widget-title {
        @include font-size(1.35);
        margin: 0 0 0.75rem 0;
    }
    ul {
        margin-left: 0rem;
        padding-left: 0rem;
        list-style: none;

        li {
            margin-bottom: 0.5rem;
        }
    }

    &.widget_search {
        form.search-form {
            .search-wrap {
                display: flex;
                position: relative;

                input.search-field {
                    width: 100%;
                    padding-right: 2rem;
                }
                .search-submit {
                    position: absolute;
                    right: 0;
                    font-size: 1.25rem;
                    padding: 0.35rem 0.45rem;
                    background: transparent;
                }
            }
        }
    }
}
