// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
	width: map-get( $columns-vw, $numberColumns ) - ( ( $columns__margin-vw * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Column max-width with margin
@mixin column-max-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
	width: map-get( $columns-vw, $numberColumns ) - ( ( $columns__margin-vw * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Columns
@mixin side-padding-columns($numberColumns: 1) {
	padding-left: $columns__single * $numberColumns;
	padding-right: $columns__single * $numberColumns; 
	padding-left: $columns__single-vw * $numberColumns;
	padding-right: $columns__single-vw * $numberColumns; 
}
@mixin side-margin-columns($numberColumns: 1) {
	margin-left: $columns__single * $numberColumns;
	margin-right: $columns__single * $numberColumns; 
	margin-left: $columns__single-vw * $numberColumns;
	margin-right: $columns__single-vw * $numberColumns; 
}
@mixin custom-list-style() {
	
	// Custom Lists ---------
	ul:not([class]),
	ol:not([class]) {
		list-style: none;

		li {
			margin-bottom: 0.5rem;
		}
		li:before {
			color: $color__primary;
		}
		li ul>li:before {
			color: $color__text-default;
		}
		li ul>li ul>li:before,
		li ol>li ul>li:before {
			color: $color__primary;	
		}
		li ul>li ul>li ul>li:before,
		li ol>li ol>li ul>li:before,
		li ol>li ul>li ul>li:before,
		li ul>li ol>li ul>li:before {
			color: $color__text-default;
		}
	}
	ul:not([class]) li:before {
		content: "\25A0";
		position: relative;
		display: inline-block;
		width: 1em;
		margin-left: -1em;
		top: -0.05rem;
		left: -0.1rem;
	}
	ul:not([class]) li ul li ul li:before {
		content: "\25A1";
	}
	ol:not([class])>li {
		counter-increment: list1;
	}
	ol:not([class])>li:before {
		display: inline-block;
	}
	ol:not([class])>li:before {
		content: counter(list1)".";
		width: 1em;
		margin-left: -1em;
		font-weight: $font__weight-bold;
	}
	ol:not([class])>li ol>li {
		counter-increment: list2;
	}
	ol:not([class])>li ol>li:before {
		content: counter(list1)"."counter(list2)".";
		width: 1.75em;
		margin-left: -1.75em;
		font-weight: $font__weight-bold;
	}
	ol:not([class])>li ol>li ol>li {
		counter-increment: list3;
	}
	ol:not([class])>li ol>li ol>li:before {
		content: counter(list1)"."counter(list2)"."counter(list3)".";
		width: 2.6em;
		margin-left: -2.6em;
		font-weight: $font__weight-regular;
	}
	ol:not([class])>li ol>li ol>li ol>li {
		counter-increment: list4;
	}
	ol:not([class])>li ol>li ol>li ol>li:before {
		content: counter(list1)"."counter(list2)"."counter(list3)"."counter(list4)".";
		width: 3.4em;
		margin-left: -3.4em;
		font-weight: $font__weight-regular;
	}
	li:not([class])>ul, 
	li:not([class])>ol {
		margin-left: 1.125rem;
	}

}