// Breakpoints variables
$breakpoint-mobile-small: 384px;
$breakpoint-mobile-medium: 768px;
// $breakpoint-mobile-large: 962px;
$breakpoint-desktop-small: 1024px;
$breakpoint-desktop-medium: 1280px;
$breakpoint-desktop-large: 1920px;

// Usage example:
// @media (max-width: #{$breakpoint-mobile-medium}) {}