// Base content colors
$color__gray-1: #f2f2f2;
$color__gray-2: #4f4f4f;
$color__gray-3: #262626;
$color__gray-4: #1e1e1e;

// Tainá main colors, before customizer
$color__primary:#a0303a;
$color__secondary: #a0303a; // Same for now...

// State colors (danger, warning, save)
$color__red-1: #eadadc;
$color__red-2: #a23939;

$color__green-1: #daece6;
$color__green-2: #25a189;

$color__yellow-1: #fcebd9;
$color__yellow-2: #e69810;

// Derivated colors -------------------------
// Backgrounds
$color__background-default: white;
$color__background-variant: $color__gray-1;

// Text colors
$color__text-default: $color__gray-2;
$color__text-variant: $color__primary;
$color__text-light: white;

// a tag, links
$color__link: $color__primary;
$color__link-hover: $color__primary; // To be decided

// Form inputs
$color__text-input: $color__gray-2;
$color__text-input-focus: $color__gray-3;
$color__border-input: $color__gray-1;
$color__border-input-focus: $color__gray-2;
$color__border-abbr: $color__gray-3;

// Mark and Ins tag
$color__background-mark: $color__yellow-1;
