// Derivated colors in Dark mode -------------------------
// Backgrounds
$color__background-default: $color__gray-3;
$color__background-variant: $color__gray-4;

// Text colors
$color__text-default: $color__gray-1;
$color__text-variant: $color__primary;
$color__text-light: $color__gray-4;

// a tag, links
$color__link: $color__secondary;
$color__link-hover: $color__primary; // To be decided

// Form inputs
$color__text-input: $color__gray-3;
$color__text-input-focus: $color__gray-4;
$color__border-input: $color__gray-2;
$color__border-input-focus: $color__gray-3;
$color__border-abbr: $color__gray-4;

// Mark and Ins tag
$color__background-mark: $color__yellow-2;
