// Percentage, for browser compatibility
$columns: (
	1:  100%,
	2:  95.83333333%,
	3:  91.66666667%,
	4:  87.5%,
	5:  83.33333333%,
	6:  79.16666667%,
	7:  75%,
	8:  70.83333333%,
	9:  66.66666667%,
	10: 62.5%,
	11: 58.33333333%,
	12: 54.16666667%,
	13: 50%,
	14: 45.83333333%,
	15: 41.66666667%,
	16: 37.5%,
	17: 33.33333333%,
	18: 29.16666667%,
	19: 25%,
	20: 20.83333333%,
	21: 16.66666667%,
	22: 12.5%,
	23: 8.333333333%,
	24: 4.166666667%
);
$columns__single: 4.166666667%;
$columns__margin: 0%;

// Viewport width
$columns-vw: (
	1:  100vw,
	2:  95.83333333vw,
	3:  91.66666667vw,
	4:  87.5vw,
	5:  83.33333333vw,
	6:  79.16666667vw,
	7:  75vw,
	8:  70.83333333vw,
	9:  66.66666667vw,
	10: 62.5vw,
	11: 58.33333333vw,
	12: 54.16666667vw,
	13: 50vw,
	14: 45.83333333vw,
	15: 41.66666667vw,
	16: 37.5vw,
	17: 33.33333333vw,
	18: 29.16666667vw,
	19: 25vw,
	20: 20.83333333vw,
	21: 16.66666667vw,
	22: 12.5vw,
	23: 8.333333333vw,
	24: 4.166666667vw
);
$columns__single-vw: 4.166666667vw;
$columns__margin-vw: 0vw;

