$font__heading: 'Montserrat', sans-serif;
$font__main: 'Muli', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__weight-regular: 400;
$font__weight-medium: 500;
$font__weight-semi-bold: 600;
$font__weight-bold: 700;
$font__weight-extra-bold: 800;
$font__weight-black: 900;
