.main-navigation {
	clear: both;
	display: block;
	margin: auto 0 auto auto;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		&.menu>.menu-item {
			padding: 4px 13px 4px 0px;
			margin: 8px;
			border-bottom: 4px solid transparent;
			
			&:hover {
				padding-right: 10px;
				a {
					font-weight: $font__weight-extra-bold;
				}
			}
			&.current_page_item {
				padding-right: 10px;
				border-bottom-color: $color__primary;
				a {
					color: $color__primary;
					font-weight: $font__weight-extra-bold;
				}
			}
			a {
				@include font-size(0.938);
				font-family: $font__heading;
				font-weight: $font__weight-semi-bold;
				text-transform: uppercase;
				color: $color__text-default;
			}
		}

		ul {
			float: left;
			position: absolute;
			top: calc(100% + 4px);
			left: -999em;
			z-index: 99999;
			background-color: $color__background-variant;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				padding: 12px;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	background-color: transparent;
	color: $color__primary;
}
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: #{$breakpoint-desktop-small}) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
