.blog {
    .post {
        margin: 0 auto 3rem;
        position: relative;
        overflow: visible;

        @media (min-width: #{$breakpoint-mobile-medium}) {
            max-width: calc(750px + (1 * #{$columns__single}));
            max-width: calc(750px + (1 * #{$columns__single-vw}));
        }
        @media (min-width: #{$breakpoint-desktop-small}) {
            max-width: calc(750px + (2 * #{$columns__single}));
            max-width: calc(750px + (2 * #{$columns__single-vw}));
        }

        padding: 0;
        border-bottom: 4px solid $color__primary;
        background-color: $color__background-variant;

        .edit-link {
            position: absolute;
            right: -22px;
            border-bottom: 5px solid $color__background-default;
            border-left: 5px solid $color__background-default;
        }
        .entry-header {
            @include side-padding-columns(1);
            padding-top: 1rem;

            .entry-title {
                padding: 0;
                font-weight: $font__weight-semi-bold;
                background: none;
            }
        }
        .page-content,
        .entry-content,
        .entry-summary {
            @include side-padding-columns(1);
            padding-top: 0.5rem;
            margin: 0;
        }
        .entry-footer {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            align-items: center;
            padding-top: 0.5rem;

            &>div,
            &>span {
                height: 45px;
            }

            .entry-meta {
                .posted-on,
	            .byline {
                    padding: calc(0.5rem + 4px) 1rem 0.5rem 1rem;
                }
            }

	        .comments-link {
		        padding: calc(0.5rem + 4px) 1rem 0.5rem 1rem;
            }
        }
    }
}