.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comments-area {
	background-color: $color__background-variant;
    @include side-padding-columns(2);
    padding-top: 24px;
    padding-bottom: 24px;
	margin-top: 48px;
	
	.comments-title {
		font-size: 1.75rem;
	}

	.comment-list,
	.comment-form {
		list-style: none;
		margin: 0;
		padding: 0;

		.comment {
			.comment-body {
				background-color: transparent;

				.comment-meta {
					
					.comment-author {
						
						img.avatar {
							background-color: $color__background-default;
							float: left;
							position: relative;
							height: auto;
							width: 120px;
							border-bottom: 4px solid $color__primary;
							margin: 0 32px 10px 0;
						}
						.comment-metadata {
							background-color: $color__background-default;
							display: inline-block;
							max-width: calc(100% - 152px);
							padding: 8px 16px 8px 32px;
							margin-left: -32px;
						}
						.edit-link {
							float: right;
							padding: 0 6px;
						}
					}
				}

				.comment-content {
					@include font-size(1.25);
					h2 { @include font-size(1.5); }
				}

				.reply {
					margin-bottom: 48px;
				}

				.comment-textarea {
					margin-top: 32px;
					margin-bottom: 32px;
					width: calc(100% - 152px);
				}
			}
		}
		.form-submit {
			margin-top: 0;
			text-align: right;
		}
	}
}