.site-footer {
    .footer-social-links {
        @include side-padding-columns(2);
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $color__primary;
    }
    .widget-area {
        @include side-padding-columns(4);
        background-color: $color__background-default;

        .widget {
            h2.widget-title {
                font-weight: $font__weight-medium;
                @include font-size(1.35);
                margin: 0 0 0.75rem 0;
            }
            // Lists ---------
            @include custom-list-style();
            ul,
            ol {
                margin-left: 1em;
                @include font-size(1.125);
            }
        }
    }
    .site-info {
        @include side-padding-columns(2);
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: $color__background-variant;
    }
}