
// Site header container
.site-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    @include side-padding-columns(1);
	background-color: $color__background-default;

    .site-branding {
        display: block;
        margin: auto $columns__single * 1.5 auto 0;
        margin: auto $columns__single-vw * 1.5 auto 0;

        img {
            max-height: 124px;
            width: auto;
        }

        .site-title {
            @include font-size(2);
            font-family: $font__heading;
            font-weight: $font__weight-extra-bold;
            font-style: italic;
            margin: 0;

            a { color: $color__primary };
        }
        .site-description {
            font-weight: $font__weight-medium;
            margin: 10px 0;
        }
    }

}