.sticky {
	display: block;
}

.post,
.page {
	margin: 0 auto 1.5em;
}

.updated:not(.published) {
	display: none;
}

.post-thumbnail {
	text-align: center;
}

.entry-header {

	@media (min-width: #{$breakpoint-desktop-small}) {
		@include side-padding-columns(2);
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}

	.entry-title {
		text-align: center;
		background:
			linear-gradient(to right, $color__gray-1 6px, transparent 6px) 0 100%, 
			linear-gradient(to top,  $color__gray-1 6px, transparent 6px) 0 100%; 
		background-repeat: no-repeat;
		background-size: 192px 48px;
		padding: 2rem 1rem;
		margin-bottom: 0.25rem;
	}	
}

.entry-meta {
	display: inline-flex;

	.posted-on,
	.byline {
		padding: 0.5rem 1rem;
		color: $color__link;

		a { color: $color__link; }
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em auto 0;
	@include side-padding-columns(1);

	@media (min-width: #{$breakpoint-mobile-medium}) {
		max-width: calc(750px + (2 * #{$columns__single}));
		max-width: calc(750px + (2 * #{$columns__single-vw}));
	}
	@media (min-width: #{$breakpoint-desktop-small}) {
		@include side-padding-columns(2);
		max-width: calc(750px + (3 * #{$columns__single}));
		max-width: calc(750px + (3 * #{$columns__single-vw}));
	}

	// Wide alignment for Gutenberg Blocks
	.alignwide {
		width: 100% + $columns__single*2;
		width: calc(100% + #{$columns__single-vw} * 2);
		max-width: 100% + $columns__single*2;
		max-width: calc(100% + #{$columns__single-vw} * 2);
		margin-left: - $columns__single;
		margin-left: - $columns__single-vw;
		margin-right: - $columns__single;
		margin-right:  - $columns__single-vw;
	}
	.alignfull {
		width: 100%;
		width: 100vw;
		max-width : 100%;
		max-width : 100vw;
		margin-left: calc( -100vw / 2 + 100% / 2 );
		margin-right: calc( -100vw / 2 + 100% / 2 );
	}

	// Headings -------
	h2, 
	h3,
	h4 {
		color: $color__primary;
	}
	h2,
	h3 {
		margin-left: - $columns__single;
		margin-left: - $columns__single-vw;
		margin-right: $columns__single;
		margin-right: $columns__single-vw;

		@media (min-width: #{$breakpoint-desktop-small}) {
			margin-left: calc((-1 * #{$columns__single}) - 15px);
			margin-left: calc((-1 * #{$columns__single-vw}) - 15px);
			margin-right: calc(#{$columns__single} + 15px);
			margin-right: calc(#{$columns__single-vw} + 15px);
		}
	}
	h2 {
		background:
			linear-gradient(to right, $color__gray-2 4px, transparent 4px) 0 100%, 
			linear-gradient(to top,  $color__gray-2 4px, transparent 4px) 0 100%; 
		background-repeat: no-repeat;
		background-size: 30px 15px;
		padding: 10px 15px;
	}
	h3 {
		background:
			linear-gradient(to right, $color__gray-2 2px, transparent 2px) 0 100%, 
			linear-gradient(to top,  $color__gray-2 2px, transparent 2px) 0 100%; 
		background-repeat: no-repeat;
		background-size: 30px 15px;
		padding: 7px 15px;
	}
	h4 {
		background:
			linear-gradient(to right, $color__gray-2 2px, transparent 2px) 0 100%, 
			linear-gradient(to top,  $color__gray-2 2px, transparent 2px) 0 100%; 
		background-repeat: no-repeat;
		background-size: 30px 15px;
		padding: 6px 15px;
		margin-left: - 15px;
		margin-right: 15px;
	}

	// Text blocks -------
	p {
		margin-top: 1.5rem;
		margin-bottom: 3rem;
		@include font-size(1.25);
	}
	.wp-block-verse {
		padding-left: 0;
		padding-right: 0;
		margin-right: $columns__single;
		margin-right: $columns__single-vw;
		margin-left: - $columns__single;
		margin-left: - $columns__single-vw;
		@include font-size(1.125);
		line-height: normal;
		color: $color__text-default;
	}
	.wp-block-quote {
		padding: 3.5rem !important;
		border: none !important;

		&:before,
		&:after {
			display: block;
			position: relative;
			font-family: $font__heading;
			@include font-size(17);
			font-style: italic;
			font-weight: $font__weight-black;
			line-height: 1rem;
			color: $color__background-default;
		}
		&:before {
			content: "\201C";
			top: 80px;
			top: 5rem;
			left: - 80px;
			margin-left: -40px;
			margin-right: -2.5rem;
			text-shadow: -1px -1px 0 $color__primary, 1px -1px 0 $color__primary, -1px 1px 0 $color__primary, 1px 1px 0 $color__primary;
		}
		&:after {
			content: "\201D";
			bottom: calc(50% - 96px);
			bottom: calc(50% - 6rem);
			right: - 190px;
			margin-right: 80px;
			margin-right: 5rem;
			text-align: right;
			text-shadow: -1px -1px 0 $color__gray-1, 1px -1px 0 $color__gray-1, -1px 1px 0 $color__gray-1, 1px 1px 0 $color__gray-1;
		}

		@media (min-width: #{$breakpoint-mobile-small}) {
			&:before {
				left: - 130px;
			}
			&:after {
				right: - 220px;
			}
		}

		@media (min-width: #{$breakpoint-mobile-medium}) {
			&:before {
				left: - 160px;
			}
			&:after {
				right: - 240px;
			}
		}

		@media (min-width: #{$breakpoint-desktop-small}) {
			&:before {
				left: - 180px;
			}
			&:after {
				right: - 250px;
			}
		}

		p { 
			margin-top: 0rem;
			margin-bottom: 1.75rem;
			@include font-size(1.25);
			font-weight: $font__weight-semi-bold;
			text-align: center;
			color: $color__text-default;
		}
		cite { 
			display: block;
			font-style: italic;
			@include font-size(1.375);
			font-weight: $font__weight-semi-bold;
			text-align: center;
			color: $color__primary;
		}
	}
	.wp-block-pullquote {
		border: none;
		background:
			linear-gradient(to right, $color__primary 2px, transparent 2px) 0 100%, 
			linear-gradient(to top,  $color__primary 2px, transparent 2px) 0 100%,
			linear-gradient(to left, $color__primary 2px, transparent 2px) 0 100%,
			linear-gradient(to right, $color__primary 2px, transparent 2px) 100% 0, 
			linear-gradient(to bottom,  $color__primary 2px, transparent 2px) 100% 0,
			linear-gradient(to left, $color__primary 2px, transparent 2px) 100% 0;
		background-repeat: no-repeat;
		background-size: 100% 30px; 
		padding: 3.13rem;
		margin: 3rem 0 3.13rem;

		@media (min-width: #{$breakpoint-mobile-medium}) {	
			margin-left: $columns__single * 3;
			margin-right: $columns__single * 3;
		}

		blockquote {
			p { 
				margin-top: 0rem;
				margin-bottom: 1.75rem;
				@include font-size(1.563);
				font-weight: $font__weight-bold;
				color: $color__primary;
			}
			cite { 
				font-style: italic;
				@include font-size(1.25);
				font-weight: $font__weight-semi-bold;
				text-transform: none;
				color: $color__text-default;
			}
		}
	}

	// Buttons
	.wp-block-button:not(.is-style-outline) .wp-block-button__link, 
	button {
		background-color: $color__primary;
		font-weight: $font__weight-extra-bold;
		padding: 12px 32px;
		color: $color__text-light;
	}
	.wp-block-button.is-style-outline .wp-block-button__link{
		border-color: $color__primary;
		padding: 12px 32px;
		color: $color__primary;
		font-weight: $font__weight-extra-bold;
	}

	// Table
	.wp-block-table {
		th {
			background: $color__gray-1;
			font-weight: $font__weight-bold;
			font-style: italic;
			border-bottom: 1px solid $color__primary;
		}
		td {
			padding: 0.5rem 1.125rem;
			@include font-size(1.25);
			border-color: $color__gray-1; 
		}
	}

	// Lists ---------
	@include custom-list-style();
	ul,
	ol {
		margin-left: $columns__single;
		margin-left: $columns__single-vw;
		@include font-size(1.25);
	}

	// Image blocks
	.wp-block-image {
		margin-top: 2.75rem;
		margin-bottom: 3.25rem;
		text-align: right;

		figcaption {
			display: inline-block;
			margin-top: -6px;	
			margin-bottom: 0;
			padding: 0.875rem 1.5rem;
			background-color: $color__background-variant;
			color: $color__text-default;
			font-size: 1rem;
		}

		&.alignfull figcaption{
			margin-right: calc( -100vw / 2 + 100% / 2 );
		}
	}
}

.entry-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.cat-links,
	.tags-links {
		font-size: 1.25rem;
		font-weight: bolder;
		margin-bottom: 12px;

		a {
			font-size: 1rem;
			font-weight: bold;
			text-transform: uppercase;
			background-color: $color__background-variant;
			padding: 6px 12px;
			margin: 0 2px;
		}
	}
}

.edit-link,
.comments-link {
	min-height: 50px;
	min-width: 50px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: $color__primary;
	color: white;

	& i,
	&:hover i,
	&:focus i,
	&:active i,
	&:visited i { color: white; }
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

